/* All Pages */
* {
    font-family: Georgia, 'Times New Roman', Times, serif
}
div {
  text-align: center;  
}
a {
    color: black;
}
/* Index Page */
.header {
    text-align: center;
    background-color: rgb(250, 192, 104)
}
button {
   font-size: medium;
}
